.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.home_text {
  text-align: center;
  line-height: 1.28571429em;
  font-weight: bold;
}

.home_text h1 {
  margin-bottom: 0;
  margin-top: 3em;
  line-height: 1.28571429em;
  font-size: 4em;
  font-weight: bold;
 
}

.home_text h2 {
  font-size: 1.7em;
  margin-top: 1.5em;
  line-height: 1.28571429em;
  font-weight: bold;
}
