.login--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.login--form_container {
  background-color: rgb(218, 219, 218);
  display: flex;
  flex-direction: column;
	align-items: center;
  /* justify-content: center; */
  height: 25em;
  width: 25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login--form {
  margin-top: 20%;
}

.login--form_field {
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
}

.login--icon_container {
  background-color: rgb(56, 193, 63);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-top: 50px;
}

.login--icon {
  background: url('./images/stage.svg') no-repeat;
  height: 100px;
  width: 100px;
  margin-top: .5em;
  background-position: center;

}