/* COLOR SCHEME: 
1. Text Colors: SMOKEY BLACK: #0C120C
2. Highlight Color (such as button hover): SEA FOAM GREEN: #BBE1C3
3. Border Colors: 
    A. NICKEL: #6D7275
    B. LIGHT GREY: #C7D6D5
4. Page Background Color: ANTI-FLASH-WHITE: #ECEBF3 */

.Section_NavBar {
	height: 60px;
	width: 100%;
	background-color: #ecebf3;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
	text-decoration-color: #0c120c;
}

.Nav_button {
	font-size: 15px;
	background-color: transparent;
	border-right: solid 3px;
	border-color: transparent;
	color: #0c120c;
}

.Nav_button > a {
	height: 40px;
	width: 125px;
	padding: 20px;
	text-decoration: none;
	color: #0c120c;
}

.Nav_button:hover > a {
	height: 40px;
	width: 125px;
	padding: 20px;
	background-color: #bbe1c3;
	color: #0c120c;
}
