/* Registration (new user) page. */

.register-box {
	padding: 25%;
	height: 500px;
	border-color: black;
	align-items: center;
	justify-content: center;
}

.register-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.label {
	justify-content: center;
	color: black;
	width: 25%;
}

.inputText {
	color: black;
	width: 25%;
	text-justify: center;
}

.contact-text {
	text-align: center;
	vertical-align: center;
	line-height: 15px;
	padding: 5px;
	color: black;
	/* width: 50%; */
}

#text-preference {
	color: black;
	justify-content: center;
	width: 25%;
}

#email-preference {
	color: black;
}

.checkbox {
	display: inline;
}

.button {
	width: 150px;
	height: 50px;
	background-color: transparent;
	justify-content: center;
}

.button:hover {
	width: 150px;
	height: 50px;
	text-decoration: none;
	background-color: blue;
}
